@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

body {
  overflow: hidden;
}
a {
  list-style: none;
  text-decoration: none;
};


button {
  outline: none;
  border: none;
}
.features {
    position: relative;
  
  
  }
  .features::before {
    content: '';
    background: url('/images/bg-mobile-features.svg');
    position: absolute;
    z-index: -1; 
    height: 990px;
    background-repeat: no-repeat;
    width: 100%;
  }

  .open {
    display: flex;
  }
  img {
    max-width: 100%;
  }

  .login {
    border: 1px solid #176729;
  }
  .signup {
    position: relative;
  }
  .nav-desktop:hover {
    border-bottom: 1px solid #176729
  };
  
  .signup::before {
    content: '';
    height: 20vh;
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 38vh;
    background-image: url('/images/bg-mobile-signup.svg') ;
    background-repeat: no-repeat;
  }
  
  .signup::after {
    content: '';
    background-color: #176729;
    height: 50vh;
    z-index: -2;
    width: 100%;
    position: absolute;
    top: 50vh;
  }
  
  @media screen and (min-width: 768px) {

    .signup::before {
      content: '';
      background-image: url('/images/bg-desktop-signup.svg') ;
      z-index: -1;
      top: 42vh;
      width: 100%;
      position: absolute;
      background-repeat: no-repeat;
      /* background-color: red */
    };
  }; 
  @media screen and (min-width: 1024px) {

    .signup::before {
      content: '';
      background-image: url('/images/bg-desktop-signup.svg') ;
      z-index: -1;
      top: 45vh;
      width: 100%;
      position: absolute;
      background-repeat: no-repeat;
    };
  }; 

  @media screen and (min-width: 768px) {

    .features::before {
      content: '';
      background-image: url('/images/bg-desktop-features.svg') ;
      height: 950px;
      z-index: -1;
      width: 100%;
      position: absolute;
      background-repeat: no-repeat
    };
  }; 
   @media screen and (min-width: 1024px) {

    .features::before {
      content: '';
      background-image: url('/images/bg-desktop-features.svg') ;
      height: 700px;
      z-index: -1;
      width: 100%;
      position: absolute;
      background-repeat: no-repeat
    };
  }; 
  